body {
    display:flex;
    justify-content: center;
}

#container {
    background-color: black;
    width: 25vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
}

#display {
    display: flex;
    color: white;
    justify-content: right;
    align-items: end;
    padding-top: 20px;
    height: calc(40% / 2);
    background-color: grey;
    font-size: 4vw;
}

#keys {
    display: flex;
    background-color: blue;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.digits, 
.signs,
#equalsKey,
#clearKey,
#backspace,
#percent,
#point {
    font-size: 2vw;
    width: calc(100% / 4);
}

